<div class="m-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">S.no</th>
          <th scope="col">Status</th>
          <th scope="col">Date of Order </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr  *ngFor="let order of allOrders$| async;let i=index">
              <th scope="row">{{i+1}}</th>        
              <td>{{order.status | uppercase}}</td>    
              <td>{{order.datePlaced | date: 'dd/MM/yyyy'}}</td>    
              <td>
                <button [class.disabled]="!(order.status!='Completed' && order.status!='Cancelled')" 
                type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="completeOrder(order._id)" >Mark as Completed
                </button>
        

                <!-- mondal logic -->

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Order Completed SuccessFully</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="this.ngOnInit()">Ok</button>
                      </div>
                    </div>
                  </div>
                </div>


                
                <!-- mondal logic end-->


              </td>    
          </tr>
      </tbody>
    </table>
</div>